@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir-FD.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OSMANTAHA';
    src: url('../fonts/ScheherazadeRegOT.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Vazir', sans-serif;
}

.osmantaha {
    font-family: 'OSMANTAHA', sans-serif;
}