<nav class="max-w-3xl mx-auto bg-white/10 backdrop-blur-sm rounded-full shadow-md mb-8 p-2 sticky top-2 z-10">
    <div class="flex flex-wrap items-center justify-center gap-x-6 gap-y-2 text-sm md:text-base">
<!--        <a href="{% url 'index' %}" class="font-medium text-gray-700 hover:text-slate-500 transition px-3 py-1.5 rounded-full hover:bg-slate-200">🏠 خانه</a>-->
        <a href="{% url 'index' %}" class="font-medium text-gray-700 hover:text-slate-500 transition px-3 py-1.5 rounded-full hover:bg-slate-200">🔍 جستجو تفسیر</a>
        <a href="{% url 'feedback' %}" class="font-medium text-gray-700 hover:text-slate-500 transition px-3 py-1.5 rounded-full hover:bg-slate-200">📝 ثبت بازخورد</a>
        <a href="{% url 'about' %}" class="font-medium text-gray-700 hover:text-slate-500 transition px-3 py-1.5 rounded-full hover:bg-slate-200">ℹ️ درباره تفسیرجو</a>
        <a href="{% url 'contact' %}" class="hover:text-slate-300 transition duration-300">📞 تماس با ما</a>
        <a href="{% url 'support' %}" class="font-medium text-gray-700 hover:text-slate-500 transition px-3 py-1.5 rounded-full hover:bg-slate-200">❤️ حمایت</a>
    </div>
</nav>