{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}تفسیر قرآن{% endblock %}</title>
  <script src="{% static 'js/tailwindcss4.js' %}"></script>
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/tafsir.css' %}" rel="stylesheet">

</head>
<body class="bg-gradient-to-r from-slate-200 to-slate-50">
  {% include "quran/_navbar.html" %}
  {% block content %}
  {% endblock %}
  {% block extra_js %}
  {% endblock %}
</body>
</html>